<table class="tx-wc" >
	<tr>
		<td>
			<f:translate key="tx_wc_domain_model_user.firstname" />
		</td>
		<td>
			{user.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wc_domain_model_user.lastname" />
		</td>
		<td>
			{user.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wc_domain_model_user.date_of_birth" />
		</td>
		<td>
			{user.dateOfBirth -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wc_domain_model_user.gender" />
		</td>
		<td>
			{user.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wc_domain_model_user.orig_photo" />
		</td>
		<td>
			{user.origPhoto}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wc_domain_model_user.start_weight" />
		</td>
		<td>
			{user.startWeight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wc_domain_model_user.desired_weight" />
		</td>
		<td>
			{user.desiredWeight}
		</td>
	</tr>
</table>